* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html{
    border: 3px solid white;
} */
body {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header {
  width: 100vh;
  height: 60vh;
  margin: 0 auto;
}
.main-logo{
 position: sticky;
margin-top: 2%;
width: 100%;
text-align: center;
}
img{
    width: 40%;
}
.main {
  border: 5px solid black;
  border-width: 25px;
  width: 40vw;
  height: 15vh;
 
  margin-top: 100px;
  background-color: #cecdcd;
  opacity: 0.7;
  text-align: center;
}

.menu {
  width: 40vw;
  height: 45vh;
  margin-top: 100px;
font-size: 100px;
  background-color: #cecdcd;
  opacity: 0.8;
display: flex;
flex-direction: column;
align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
label {
 
  background-color: #1a1919;
  color: aliceblue;
  text-align: left;
margin-bottom: -35px;
  display: block;
font-size: 50px;

}
input {
  width: 100%;
  height: 140px;
  margin: 2rem auto;
  font-size: 50px;
font-style: italic;
padding-left: 20px;
}
button {
  background-color:#1a1919 ;
  width: 100%;
  height: 10rem;
  display: block;
  font-size: 50px;
  color: white;
  font-style: italic;
}
h1 {
  padding-top: 25px;
  font-size: 150px;
}
.text {
  font-size: 80px;
  padding-top: 65px;
}

h2 {
 margin-bottom: 90px;
  margin-top: 70px;
}
.get{
    padding-bottom: 90px;
    font-size: 90px;
    text-align: left;
}
form{
        width: 40%;
        margin-top: 2%;
       }
       footer{
           font-size:70px;
           height: 5%;
           color: aliceblue;
           opacity: 0.2;
           text-align: center;
       }